task_monitoring:
  outputs:
    dev:
      type: oracle
      user: "{{ env_var('DBT_ORACLE_USER') }}"
      password: "{{ env_var('DBT_ORACLE_PASSWORD') }}"
      host: "{{ env_var('DBT_ORACLE_HOST') }}"
      port: "{{ env_var('DBT_ORACLE_PORT') | as_number }}"
      service: "{{ env_var('DBT_ORACLE_SERVICE') }}"
      schema: "{{ env_var('DBT_ORACLE_SCHEMA') }}"
      threads: 4
    prod:
      type: oracle
      user: "{{ env_var('DBT_ORACLE_USER') }}"
      password: "{{ env_var('DBT_ORACLE_PASSWORD') }}"
      host: "{{ env_var('DBT_ORACLE_HOST') }}"
      port: "{{ env_var('DBT_ORACLE_PORT') | as_number }}"
      service: "{{ env_var('DBT_ORACLE_SERVICE') }}"
      schema: "{{ env_var('DBT_ORACLE_SCHEMA') }}"
      threads: 8
  target: dev
